:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --secondary-slate: #8e8f99;
  --primary-blue-color: #4d5ae5;
  --accent-color: #18a0fb;
  --pressed-color: #404bbf;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --icons-green-hover: #31d0aa;

  --header-color: #e7e9fc;
  --modal-window: #fcfcfc;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body*/
body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

.section.no-padding {
  padding-top: 0;
}

/* Mob styles &<*/
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet styles &<*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 737px;
  }
}

/* Desktop styles*/
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/*Header section*/
header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo-black {
  color: var(--title-text-color);
}

.logo.link {
  margin-right: 76px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-blue-color);
  text-transform: uppercase;
  text-decoration: none;
}

/*Phone menu*/

.mobile-menu {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  list-style: none;
}

.header {
  position: relative;
}

.header.container {
  min-height: 80px;
}

@media (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .site-nav.list {
    display: none;
  }

  .auth-nav {
    display: none;
  }

  .menu-toggle {
    margin-top: 24px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    fill: var(--title-text-color);

    background-color: var(--header-color);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    fill: var(--primary-white-color);
  }

  .js-open-menu {
    width: 44px;
    height: 27px;
    border: none;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  width: 100%;
  height: 100%;

  max-height: 796px;
  overflow-y: hidden;

  background-color: var(--primary-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms var(--cubic);
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.mobile-menu .link {
  display: block;

  padding-left: 40px;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  color: var(--title-text-color);
  text-decoration: none;
}

.mobile-menu .link.current {
  color: var(--pressed-color);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--pressed-color);
}

.mobile-contacts.list {
  padding-left: 40px;
}
.mobile-contacts .link {
  display: block;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--title-text-color);
  text-decoration: none;
}

.mobile-contacts .link.current {
  font-size: 36px;
  line-height: 1.1;

  color: var(--primary-blue-color);
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .mobile-contacts .link.current {
    font-size: 28px;
  }
}

.mobile-socials {
  display: flex;

  justify-content: space-between;
  gap: 56px;

  margin-bottom: 40px;

  margin-left: 40px;
  margin-right: auto;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--primary-blue-color);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-color);
}

.socials-icon {
  fill: var(--secondary-white-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .menu-container {
    display: none;
  }
}
.menu {
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .list {
  display: flex;
}

.site-nav .link {
  padding-top: 24px;
  padding-bottom: 24px;

  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--title-text-color);

  transition: color 250ms var(--cubic);
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--pressed-color);
}

.site-nav-link.current {
  color: var(--pressed-color);
}

.site-nav-link.current::after {
  content: "";

  position: absolute;
  left: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--pressed-color);
  border-radius: 2px;
}

.site-nav .item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.auth-nav .list .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms var(--cubic);
}

.auth-nav .list .link:focus,
.auth-nav .list .link:hover {
  color: var(--pressed-color);
}

/*Tablet*/

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
  .logo.link {
    margin-right: 120px;
  }

  .site-nav .list {
    margin-right: 120px;
  }

  .auth-nav .link {
    display: block;
  }

  .auth-nav .list .item:not(:last-child) {
    margin-bottom: 8px;
  }

  .auth-nav .list .link {
    font-size: 12px;
  }

  .auth-nav .list .link:focus,
  .auth-nav .list .link:hover {
    color: var(--pressed-color);
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .container.main-nav {
    max-width: 1158px;
  }
  .main-nav {
    margin-right: auto;
  }

  .site-nav .list {
    margin-right: 0px;
  }

  .auth-nav .list {
    display: flex;
    height: 72px;
  }

  .auth-nav .link {
    padding-top: 24px;
    padding-bottom: 24px;

    display: block;
  }

  .auth-nav .list .item {
    margin-right: 0px;
  }

  .auth-nav .list .item:not(:last-child) {
    margin-right: 40px;
  }

  .auth-nav .link {
    padding-top: 24px;
    padding-bottom: 24px;

    display: block;
  }

  .auth-nav .list .link {
    font-size: 16px;
  }
}

/*Hero section*/

.hero.section {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  max-width: 428px;
  height: 432px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/desc-hero@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 320 < Screen < 480  */
@media only screen and (max-width: 480px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mob-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/mob-hero@2x.webp);
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tab-hero@2x.webp);
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tab-hero@2x.webp);
    }
  }
}

@media only screen and (min-width: 1158px) and (max-width: 1600px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desc-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desc-hero@2x.webp);
    }
  }
}

/*
/*Tablet*/
@media screen and (min-width: 768px) {
  .hero.section {
    max-width: 768px;
    height: 436px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero.section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tab-hero@2x.webp);
    }
  }
}
/*Desktop*/
@media screen and (min-width: 1158px) {
  .hero.section {
    padding-top: 188px;
    padding-bottom: 188px;

    height: 600px;
    max-width: 1440px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desc-hero@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero.section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desc-hero@2x.webp);
    }
  }
}

.hero {
  color: var(--primary-white-color);
  text-align: center;
}

.hero-title {
  text-align: center;
  color: var(--primary-white-color);
}

.hero-button {
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 112px;

  display: block;
  align-items: center;
  height: 56px;
  min-width: 169px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-white-color);

  background-color: var(--primary-blue-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-color);
}

.hero-title {
  display: inline-block;
  max-width: 320px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

/* Tablet styles &<*/
@media only screen and (min-width: 768px) {
  .hero.section {
    max-width: 768px;
    height: 436px;
  }

  .hero-title {
    margin-bottom: 36px;

    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/* Desktop styles*/
@media only screen and (min-width: 1158px) {
  .hero.section {
    max-width: 1440px;
    height: 600px;
  }

  .hero-title {
    margin: 0px 0px 48px 0px;

    max-width: 496px;
    line-height: 1.07;

    color: var(--primary-white-color);
  }
}

/*--Our values--*/
.visually-hidden {
  padding: 0;
  margin: -1px;

  position: absolute;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values.section {
  display: flex;

  padding-top: 96px;
  padding-bottom: 96px;
}

.thumb {
  display: none;
}

.values.item {
  display: block;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .values.item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
}

.values-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

/*Tablet styles*/
@media screen and (min-width: 768px) {
  .values.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .values.item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0px;
  }

  .title {
    text-align: left;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .values.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container.values {
    padding: 0;
    max-width: 1168px;
  }

  .section .title {
    margin-top: 0px;
  }

  .thumb {
    padding: 24px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;

    background-color: var(--secondary-white-color);
    border-radius: 4px;
  }

  .values.title {
    margin-top: 0px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
  }

  .values.list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .values.item {
    display: block;
  }

  .values.item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0px;
  }

  .button-icon {
    margin: 0;
    padding: 0;
  }

  .values-text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 400;
  }
}

/*Our services section*/
.services.section {
  display: none;
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .services.section {
    display: inline;
    padding-bottom: 120px;
  }
  .container.services {
    max-width: 1158px;
  }

  .section-title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--title-text-color);

    text-transform: capitalize;
  }

  .services-item {
    margin: 0px;
  }

  .services .list {
    display: flex;
    flex-wrap: wrap;
  }

  .services-item {
    width: calc((100% - 48px) / 3);
  }

  .services-item:not(:last-child) {
    margin-right: 24px;
  }
}

/*- -Our team--*/

.team {
  background-color: var(--secondary-white-color);
}

.team.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  text-transform: capitalize;
}

.team .title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-item {
  width: 264px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--primary-white-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 4px 0px 4px;
}

.team-position {
  margin-bottom: 8px;

  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--primary-blue-color);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-color);
}

.socials-icon {
  fill: var(--secondary-white-color);
}

/*- -Tablet styles--*/
@media screen and (min-width: 768px) {
  .team.section {
    margin-right: auto;
    margin-left: auto;
  }

  .team.list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;

    justify-content: center;

    margin-left: auto;
    margin-right: auto;
  }
  .team-item {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 428px;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .team.section {
    margin-top: 120px;
    padding-bottom: 120px;
  }

  .container.team {
    max-width: 1158px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0px;
  }

  .team.list {
    justify-content: center;
    align-items: baseline;
  }

  /* Socials icons */
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background-color: var(--primary-blue-color);
    border-radius: 50%;

    transition: background-color 250ms var(--cubic);
  }

  .socials-link:hover,
  .socials-link:focus {
    background-color: var(--pressed-color);
  }

  .socials-icon {
    fill: var(--secondary-white-color);
  }
}

/*- -Our clients--*/

.customers.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers .section-title {
  line-height: 1.1;
}

.customers-link {
  padding: 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--secondary-slate);

  border: 1px solid var(--secondary-slate);
  border-radius: 4px;

  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-color);
  border: 1px solid var(--pressed-color);
}

.customers-logo {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }
  .customers.list {
    column-gap: 24px;

    justify-content: center;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    max-width: 168px;
  }
}
/*Desktop*/

@media screen and (min-width: 1158px) {
  .customers.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container.customers {
    max-width: 1158px;
  }
  .customers.list {
    justify-content: center;
    align-items: baseline;
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

/*--Footer--*/
.footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-white-color);

  background-color: var(--title-text-color);
}

.logo-footer {
  color: var(--secondary-white-color);
}

.footer-socials-name {
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-white-color);
}

.footer .socials-item {
  width: 40px;
  height: 40px;
}

.footer .socials.list {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--icons-green-hover);
}

.footer.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer .container.flex {
  width: 268px;
  justify-content: center;
  align-items: center;

  padding: 0;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-block {
    margin-bottom: 72px;
  }
}

.footer .logo.link {
  margin-bottom: 16px;
  margin-right: 0px;
  display: block;
  text-align: center;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  display: block;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
}

.footer-socials-name {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .socials.list {
    margin-bottom: 72px;
  }
}

/*Tablet*/

@media only screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;

    max-width: 552px;
  }
  .footer-block {
    margin-bottom: 72px;
  }

  .footer .logo.link {
    text-align: left;
  }

  .footer-text {
    display: block;
    width: 264px;
  }

  .footer-socials-name {
    text-align: left;
  }
}

/*desktop*/

@media screen and (min-width: 1158px) {
  .container.footer {
    align-items: baseline;
    column-gap: 0px;
    max-width: 1158px;
  }
  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-block {
    margin-right: 120px;
  }

  .footer .link {
    text-align: left;
  }

  .footer .socials.list {
    margin-right: 80px;
  }
}

/*subscribe form*/

.subscribe-form-field {
  outline: none;
}

.subscribe-form-field ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-color);
  border-color: var(--pressed-color);
}

.subscribe-icon {
  fill: var(--primary-white-color);
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-subscribe-form {
    max-width: 398px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: auto;
  }

  .subscribe-title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: var(--primary-white-color);
  }

  .subscribe-mail {
    margin-bottom: 16px;

    margin-right: 24px;
    padding-left: 8px;

    display: inline-block;

    height: 40px;
    width: 100%;

    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    border: 1px solid var(--primary-white-color);
    border-radius: 4px;

    background-color: var(--title-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .subscribe-btn {
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    gap: 16px;

    height: 40px;
    width: 165px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    text-align: left;

    background-color: var(--primary-blue-color);

    border: none;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic);
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    width: 453px;
    display: flex;
    column-gap: 24px;
    margin-bottom: 0px;
  }

  .subscribe-title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    color: var(--primary-white-color);
  }
  .subscribe-mail {
    padding-left: 16px;
    margin-bottom: 0px;

    height: 40px;
    width: 264px;

    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    border: 1px solid var(--primary-white-color);
    border-radius: 4px;

    background-color: var(--title-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .subscribe-btn {
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: left;
    gap: 16px;

    height: 40px;
    width: 165px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    text-align: left;

    background-color: var(--primary-blue-color);

    border: none;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic);
  }
}

/*Модальне вікно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  visibility: visible;
  opacity: 1;

  transition: opacity 250ms var(--сubic), visibility 250ms var(--сubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms var(--cubic), transform 250ms var(--cubic),
    visibility 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  background-color: var(--modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  visibility: visible;

  transform: translate(-50%, -50%) rotate(0) scale(1);

  transition: opacity 250ms var(--cubic), transform 250ms var(--cubic),
    visibility 250ms var(--cubic);
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .modal {
    max-width: 320px;
    max-height: 584px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
  }
}

.modal-btn {
  margin-top: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  fill: var(--title-text-color);

  background-color: var(--header-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--primary-white-color);
  background-color: var(--pressed-color);
}

.registration-title {
  display: block;
  justify-content: center;
  align-items: center;
}

.registration-form {
  display: block;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.registration-title {
  margin-bottom: 16px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

  color: var(--title-text-color);
}

.form-field label {
  margin-bottom: 4px;
}

.form-field-item {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: var(--secondary-slate);
}

.icon-send {
  fill: var(--secondary-white-color);
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .modal-registration-form {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-registration-form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .modal {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-registration-form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms var(--cubic);
}

.modal-form-input:focus {
  border-color: var(--primary-blue-color);
  outline: none;
}

.modal-form-input:focus + .registration-icon {
  fill: var(--primary-blue-color);
}

.form-field {
  margin-bottom: 8px;
}

.form-field-style {
  position: relative;
}

.form-field-label {
  position: relative;

  top: 0;
  left: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--secondary-slate);
}

.registration-icon {
  position: absolute;
  top: 50%;
  left: 19px;

  transform: translateY(-50%);

  fill: currentColor;

  transition: fill 250ms var(--cubic);
}

.modal-form-message {
  display: block;
  width: 100%;
  max-width: 360px;
  max-height: 120px;
  padding: 16px;

  resize: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  font-size: 12px;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  transition: fill 250ms var(--cubic);
}

.modal-form-message:focus {
  border-color: var(--primary-blue-color);
}

.modal-form-message ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-form-agreement-box {
  appearance: none;
}
input[type="checkbox"]:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-unchecked {
  opacity: 1;
  transition: 250ms var(--cubic);
}
.modal-form-agreement-checked {
  opacity: 0;
  transition: 250ms var(--cubic);
}
input[type="checkbox"]:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  margin-left: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-slate);
}

.modal-form-agreement-link {
  color: var(--primary-blue-color);
}
.modal-send-btn {
  padding: 16px, 32px, 16px, 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  display: block;
  align-items: center;
  gap: 10px;

  min-height: 56px;
  min-width: 169px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-white-color);

  background-color: var(--primary-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--pressed-color);
  border-color: var(--pressed-color);
}

/*Portfolio*/

/*Filter and portfolio*/
.categories.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.categories-button {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 69px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-blue-color);

  background-color: var(--secondary-white-color);
  border: 1px solid var(--header-color);

  border: 1px solid var(--header-color);
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.categories-button:hover,
.categories-button:focus {
  color: var(--primary-white-color);
  background-color: var(--pressed-color);
  border-color: var(--pressed-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.categories .type {
  margin-right: 24px;
  display: inline-block;
}

.list-type {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 48px;
  margin-top: 0;
  margin-left: 0;

  justify-content: left;
}

.portfolio-item {
  margin-bottom: 48px;
}

.portfolio-title {
  margin-top: auto;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.portfolio-category {
  margin-top: auto;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  text-decoration: none;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.list-portfolio {
  padding-left: 0;
}

.portfolio-link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms var(--cubic);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 100%;

  background-color: var(--primary-blue-color);

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-label {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;

  width: 100%;
  height: 100%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--secondary-white-color);
}

.portfolio-wrapper {
  padding: 32px 16px;

  border-bottom: 1px solid var(--header-color);
  border-left: 1px solid var(--header-color);
  border-right: 1px solid var(--header-color);
  border-radius: 0px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .categories.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .container.categories {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    justify-content: center;
  }

  .list-portfolio {
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .li .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    width: 356px;

    background-color: var(--primary-white-color);
    border: var(--header-color);

    transition: opacity 250ms var(--cubic), transform 250ms var(--cubic);
  }

  .portfolio-item {
    margin-right: 0;
    margin-bottom: 0px;
  }
  .portfolio-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .categories.section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .list-portfolio {
    row-gap: 48px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }

  .portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
