:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --secondary-slate: #8e8f99;
  --primary-blue-color: #4d5ae5;
  --accent-color: #18a0fb;
  --pressed-color: #404bbf;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --icons-green-hover: #31d0aa;

  --header-color: #e7e9fc;
  --modal-window: #fcfcfc;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body*/
body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

.section.no-padding {
  padding-top: 0;
}
/* Mob styles*/
@media only screen and (min-width: 428px) {
  .container {
    width: 428px;

    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet styles*/
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Desktop styles*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Mob styles*/
@media screen and (min-width: 428px) {
  .section {
  }
}

/* Tablet styles*/
@media screen and (min-width: 768px) {
  .section {
  }
}

/* Desktop styles*/
@media screen and (min-width: 1200px) {
  .section {
  }
}

/*--Header section--*/

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-black {
  color: var(--title-text-color);
}

.logo.link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-blue-color);
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 428px) {
  .header .container {
    padding-top: 25.5px;
    padding-bottom: 23.5px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .logo.link {
    margin-right: 120px;
  }

  .main-nav {
    display: flex;
    margin-right: 122px;
    align-items: center;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav .list {
    display: flex;
    margin-right: 122px;
  }

  .site-nav .link {
    padding-top: 24px;
    padding-bottom: 24px;

    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms var(--cubic);
  }

  .site-nav .link:focus,
  .site-nav .link:hover {
    color: var(--pressed-color);
  }

  .site-nav-link.current {
    color: var(--pressed-color);
  }

  .site-nav-link.current::after {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--pressed-color);
    border-radius: 2px;
  }

  .site-nav .item {
    position: relative;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .auth-nav .list {
  }

  .auth-nav .link {
    display: block;
  }

  .auth-nav .list .item:not(:last-child) {
    margin-bottom: 8px;
  }

  .auth-nav .list .link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-text-color);
    text-decoration: none;

    transition: color 250ms var(--cubic);
  }

  .auth-nav .list .link:focus,
  .auth-nav .list .link:hover {
    color: var(--pressed-color);
  }
}

/*--Hero section--*/
.hero.section {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  color: var(--primary-white-color);
  text-align: center;
}

.hero-title {
  text-align: center;
  color: var(--primary-white-color);
}

.hero-button {
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 112px;

  display: block;
  align-items: center;
  height: 56px;
  min-width: 169px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-white-color);

  background-color: var(--primary-blue-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-color);
}

@media screen and (min-width: 428px) {
  .hero.section {
    max-width: 767px;
    height: 432px;
  }

  .hero-title {
    padding-top: 112px;
    margin-bottom: 72px;

    display: inline-block;
    max-width: 320px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) {
  .hero.section {
    max-width: 1199px;
    height: 436px;
  }

  .hero-title {
    padding-top: 112px;
    margin-bottom: 36px;

    display: inline-block;
    max-width: 496px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

/*--Our values--*/
.visually-hidden {
  padding: 0;
  margin: -1px;

  position: absolute;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 428px) {
  .values.section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .thumb {
    display: none;
  }

  .values.item {
    display: block;
  }

  .values.item:not(:last-child) {
    margin-bottom: 72px;
  }

  .title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
  }

  .values-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}

/*@media screen and (min-width: 768px) {
  width: 768px;
}

@media screen and (min-width: 1140px) {
  width: 1140px;
}
*/

/*- -Our services--*/

@media screen and (min-width: 428px) {
  .services.section {
    display: none;
  }
}

/*- -Our team--*/

.team {
  background-color: var(--secondary-white-color);
}

.team-item {
  background-color: var(--primary-white-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 4px 0px 4px;
}

.team-position {
  margin-bottom: 8px;

  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--primary-blue-color);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-color);
}

.socials-icon {
  fill: var(--secondary-white-color);
}

@media screen and (min-width: 428px) {
  .team.section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    text-align: center;
    text-transform: capitalize;
  }

  .team .title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  .team-item {
    width: 264px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

/*- -Our clients--*/

.customers .section-title {
  line-height: 1.1;
}

.customers-link {
  padding: 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--secondary-slate);

  border: 1px solid var(--secondary-slate);
  border-radius: 4px;

  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-color);
  border: 1px solid var(--pressed-color);
}

.customers-logo {
  fill: currentColor;
}

@media screen and (min-width: 428px) {
  .customers.section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
}

/*--Footer--*/

.footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-white-color);

  background-color: var(--title-text-color);
}

.logo-footer {
  color: var(--secondary-white-color);
}

.footer-socials-name {
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-white-color);
}

.footer .socials-item {
  width: 40px;
  height: 40px;
}

.footer .socials.list {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--icons-green-hover);
}

@media screen and (min-width: 428px) {
  .footer.section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer .container.flex {
    width: 268px;
    justify-content: center;
    align-items: center;

    padding: 0;

    margin-left: auto;
    margin-right: auto;
  }

  .footer-block {
    margin-bottom: 72px;
  }

  .footer .link {
    margin-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .footer-text {
    display: block;
  }

  .footer-socials-name {
    text-align: center;
  }

  .footer .socials.list {
    margin-bottom: 72px;
  }
}

/*subscribe form*/

@media screen and (min-width: 428px) {
  .subscribe-title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: var(--primary-white-color);
  }
}

.subscribe-form-field {
  outline: none;
}

.subscribe-form-field ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.subscribe-btn {
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 16px;

  height: 40px;
  width: 165px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);

  text-align: left;

  background-color: var(--primary-blue-color);

  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-color);
  border-color: var(--pressed-color);
}

.subscribe-icon {
  fill: var(--primary-white-color);
  display: block;
}
@media screen and (min-width: 428px) {
  .footer-subscribe-form {
    width: 398px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-mail {
    margin-bottom: 16px;
    padding-left: 16px;

    height: 40px;
    width: 398px;

    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    border: 1px solid var(--primary-white-color);
    border-radius: 4px;

    background-color: var(--title-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}
